{% extends "layout.html" %}

{% block left %}
<style>
ul {
    list-style-type: none;
    background-color: #000000;
    height: 800px;
    padding: 8px 16px;

}

li a {
    display: block;
    color:#FFFFFF;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: #000000;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
    color: #000000;
}
</style>
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
 <li><a href="/map1">中国疫情地图</a></li>
        <li><a href="/map2">世界疫情地图</a></li>
        <li><a href="/line">中国疫情状况曲线图</a></li>
        <li><a href="/line2">印度疫情状况曲线图</a></li>
        <li><a href="/Word">疫情热词词云图</a></li>
        <li><a href="/rote_learning">机器预测疫情发展曲线图</a></li>
  </ul>
</div>
{% endblock %}        
        
{% block right %}
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">{{title}}</h1>

  <div class="row placeholders">
        <!--展示区-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart-container" style="height:500px;" id="f682e415f32e426abed3abc6d6164c22">

    </div>

  </div>
</div>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

<script>
        var chart_f682e415f32e426abed3abc6d6164c22 = echarts.init(
            document.getElementById('f682e415f32e426abed3abc6d6164c22'), 'white', {renderer: 'canvas'});
        var option_f682e415f32e426abed3abc6d6164c22 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u7d2f\u8ba1\u786e\u8ba4",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.22",
                    11646081
                ],
                [
                    "03.23",
                    11686796
                ],
                [
                    "03.24",
                    11734058
                ],
                [
                    "03.25",
                    11787534
                ],
                [
                    "03.26",
                    11846652
                ],
                [
                    "03.27",
                    11908910
                ],
                [
                    "03.28",
                    11971624
                ],
                [
                    "03.29",
                    12039644
                ],
                [
                    "03.30",
                    12095855
                ],
                [
                    "03.31",
                    12149335
                ],
                [
                    "04.01",
                    12221665
                ],
                [
                    "04.02",
                    12303131
                ],
                [
                    "04.03",
                    12392260
                ],
                [
                    "04.04",
                    12485509
                ],
                [
                    "04.05",
                    12589067
                ],
                [
                    "04.06",
                    12686049
                ],
                [
                    "04.07",
                    12801785
                ],
                [
                    "04.08",
                    12928574
                ],
                [
                    "04.09",
                    13060542
                ],
                [
                    "04.10",
                    13205926
                ],
                [
                    "04.11",
                    13358805
                ],
                [
                    "04.12",
                    13527717
                ],
                [
                    "04.13",
                    13689453
                ],
                [
                    "04.14",
                    13873825
                ],
                [
                    "04.15",
                    14074564
                ],
                [
                    "04.16",
                    14291917
                ],
                [
                    "04.17",
                    14526609
                ],
                [
                    "04.18",
                    14788109
                ],
                [
                    "04.19",
                    15061919
                ],
                [
                    "04.20",
                    15321089
                ],
                [
                    "04.21",
                    15616130
                ],
                [
                    "04.22",
                    15930965
                ],
                [
                    "04.23",
                    16263695
                ],
                [
                    "04.24",
                    16610481
                ],
                [
                    "04.25",
                    16960172
                ],
                [
                    "04.26",
                    17313163
                ],
                [
                    "04.27",
                    17636307
                ],
                [
                    "04.28",
                    17997113
                ],
                [
                    "04.29",
                    18376421
                ],
                [
                    "04.30",
                    18762976
                ],
                [
                    "05.01",
                    19164969
                ],
                [
                    "05.02",
                    19557457
                ],
                [
                    "05.03",
                    19925604
                ],
                [
                    "05.04",
                    20282833
                ],
                [
                    "05.05",
                    20665148
                ],
                [
                    "05.06",
                    21077410
                ],
                [
                    "05.07",
                    21491598
                ],
                [
                    "05.08",
                    21892676
                ],
                [
                    "05.09",
                    22296414
                ],
                [
                    "05.10",
                    22662575
                ],
                [
                    "05.11",
                    22992517
                ],
                [
                    "05.12",
                    23340938
                ],
                [
                    "05.13",
                    23703665
                ],
                [
                    "05.14",
                    24046809
                ],
                [
                    "05.15",
                    24372907
                ],
                [
                    "05.16",
                    24684077
                ],
                [
                    "05.17",
                    24965463
                ],
                [
                    "05.18",
                    25228996
                ],
                [
                    "05.19",
                    25496330
                ],
                [
                    "05.20",
                    25772440
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u6b7b\u4ea1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.22",
                    159967
                ],
                [
                    "03.23",
                    160166
                ],
                [
                    "03.24",
                    160441
                ],
                [
                    "03.25",
                    160692
                ],
                [
                    "03.26",
                    160949
                ],
                [
                    "03.27",
                    161240
                ],
                [
                    "03.28",
                    161552
                ],
                [
                    "03.29",
                    161843
                ],
                [
                    "03.30",
                    162114
                ],
                [
                    "03.31",
                    162468
                ],
                [
                    "04.01",
                    162927
                ],
                [
                    "04.02",
                    163396
                ],
                [
                    "04.03",
                    164110
                ],
                [
                    "04.04",
                    164623
                ],
                [
                    "04.05",
                    165101
                ],
                [
                    "04.06",
                    165547
                ],
                [
                    "04.07",
                    166177
                ],
                [
                    "04.08",
                    166862
                ],
                [
                    "04.09",
                    167642
                ],
                [
                    "04.10",
                    168436
                ],
                [
                    "04.11",
                    169275
                ],
                [
                    "04.12",
                    170179
                ],
                [
                    "04.13",
                    171058
                ],
                [
                    "04.14",
                    172085
                ],
                [
                    "04.15",
                    173123
                ],
                [
                    "04.16",
                    174308
                ],
                [
                    "04.17",
                    175649
                ],
                [
                    "04.18",
                    177150
                ],
                [
                    "04.19",
                    178769
                ],
                [
                    "04.20",
                    180530
                ],
                [
                    "04.21",
                    182553
                ],
                [
                    "04.22",
                    184657
                ],
                [
                    "04.23",
                    186920
                ],
                [
                    "04.24",
                    189544
                ],
                [
                    "04.25",
                    192311
                ],
                [
                    "04.26",
                    195123
                ],
                [
                    "04.27",
                    197894
                ],
                [
                    "04.28",
                    201187
                ],
                [
                    "04.29",
                    204832
                ],
                [
                    "04.30",
                    208330
                ],
                [
                    "05.01",
                    211853
                ],
                [
                    "05.02",
                    215542
                ],
                [
                    "05.03",
                    218959
                ],
                [
                    "05.04",
                    222408
                ],
                [
                    "05.05",
                    226188
                ],
                [
                    "05.06",
                    230168
                ],
                [
                    "05.07",
                    234083
                ],
                [
                    "05.08",
                    238270
                ],
                [
                    "05.09",
                    242362
                ],
                [
                    "05.10",
                    246116
                ],
                [
                    "05.11",
                    249992
                ],
                [
                    "05.12",
                    254197
                ],
                [
                    "05.13",
                    258317
                ],
                [
                    "05.14",
                    262317
                ],
                [
                    "05.15",
                    266207
                ],
                [
                    "05.16",
                    270284
                ],
                [
                    "05.17",
                    274390
                ],
                [
                    "05.18",
                    278719
                ],
                [
                    "05.19",
                    283248
                ],
                [
                    "05.20",
                    287122
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u6cbb\u6108",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.22",
                    11151468
                ],
                [
                    "03.23",
                    11181253
                ],
                [
                    "03.24",
                    11205160
                ],
                [
                    "03.25",
                    11231650
                ],
                [
                    "03.26",
                    11264637
                ],
                [
                    "03.27",
                    11295023
                ],
                [
                    "03.28",
                    11323762
                ],
                [
                    "03.29",
                    11355993
                ],
                [
                    "03.30",
                    11393021
                ],
                [
                    "03.31",
                    11434301
                ],
                [
                    "04.01",
                    11474683
                ],
                [
                    "04.02",
                    11525039
                ],
                [
                    "04.03",
                    11569241
                ],
                [
                    "04.04",
                    11629289
                ],
                [
                    "04.05",
                    11682136
                ],
                [
                    "04.06",
                    11732279
                ],
                [
                    "04.07",
                    11792135
                ],
                [
                    "04.08",
                    11851393
                ],
                [
                    "04.09",
                    11913292
                ],
                [
                    "04.10",
                    11990859
                ],
                [
                    "04.11",
                    12081443
                ],
                [
                    "04.12",
                    12156529
                ],
                [
                    "04.13",
                    12253697
                ],
                [
                    "04.14",
                    12336036
                ],
                [
                    "04.15",
                    12429564
                ],
                [
                    "04.16",
                    12547866
                ],
                [
                    "04.17",
                    12671220
                ],
                [
                    "04.18",
                    12809643
                ],
                [
                    "04.19",
                    12953821
                ],
                [
                    "04.20",
                    13108582
                ],
                [
                    "04.21",
                    13276039
                ],
                [
                    "04.22",
                    13454880
                ],
                [
                    "04.23",
                    13648159
                ],
                [
                    "04.24",
                    13867997
                ],
                [
                    "04.25",
                    14085110
                ],
                [
                    "04.26",
                    14304382
                ],
                [
                    "04.27",
                    14556209
                ],
                [
                    "04.28",
                    14817240
                ],
                [
                    "04.29",
                    15086740
                ],
                [
                    "04.30",
                    15384418
                ],
                [
                    "05.01",
                    15684406
                ],
                [
                    "05.02",
                    15992271
                ],
                [
                    "05.03",
                    16293003
                ],
                [
                    "05.04",
                    16613292
                ],
                [
                    "05.05",
                    16951731
                ],
                [
                    "05.06",
                    17280844
                ],
                [
                    "05.07",
                    17612351
                ],
                [
                    "05.08",
                    17930960
                ],
                [
                    "05.09",
                    18317404
                ],
                [
                    "05.10",
                    18671222
                ],
                [
                    "05.11",
                    19027304
                ],
                [
                    "05.12",
                    19382642
                ],
                [
                    "05.13",
                    19734823
                ],
                [
                    "05.14",
                    20079599
                ],
                [
                    "05.15",
                    20432898
                ],
                [
                    "05.16",
                    20795335
                ],
                [
                    "05.17",
                    21174076
                ],
                [
                    "05.18",
                    21596512
                ],
                [
                    "05.19",
                    21986363
                ],
                [
                    "05.20",
                    22355440
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u65b0\u589e\u786e\u8ba4",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.22",
                    46951
                ],
                [
                    "03.23",
                    40715
                ],
                [
                    "03.24",
                    47262
                ],
                [
                    "03.25",
                    53476
                ],
                [
                    "03.26",
                    59118
                ],
                [
                    "03.27",
                    62258
                ],
                [
                    "03.28",
                    62714
                ],
                [
                    "03.29",
                    68020
                ],
                [
                    "03.30",
                    56211
                ],
                [
                    "03.31",
                    53480
                ],
                [
                    "04.01",
                    72330
                ],
                [
                    "04.02",
                    81466
                ],
                [
                    "04.03",
                    89129
                ],
                [
                    "04.04",
                    93249
                ],
                [
                    "04.05",
                    103558
                ],
                [
                    "04.06",
                    96982
                ],
                [
                    "04.07",
                    115736
                ],
                [
                    "04.08",
                    126789
                ],
                [
                    "04.09",
                    131968
                ],
                [
                    "04.10",
                    145384
                ],
                [
                    "04.11",
                    152879
                ],
                [
                    "04.12",
                    168912
                ],
                [
                    "04.13",
                    161736
                ],
                [
                    "04.14",
                    184372
                ],
                [
                    "04.15",
                    200739
                ],
                [
                    "04.16",
                    217353
                ],
                [
                    "04.17",
                    234692
                ],
                [
                    "04.18",
                    261500
                ],
                [
                    "04.19",
                    273810
                ],
                [
                    "04.20",
                    259170
                ],
                [
                    "04.21",
                    295041
                ],
                [
                    "04.22",
                    314835
                ],
                [
                    "04.23",
                    332730
                ],
                [
                    "04.24",
                    346786
                ],
                [
                    "04.25",
                    349691
                ],
                [
                    "04.26",
                    352991
                ],
                [
                    "04.27",
                    323144
                ],
                [
                    "04.28",
                    360806
                ],
                [
                    "04.29",
                    379308
                ],
                [
                    "04.30",
                    386555
                ],
                [
                    "05.01",
                    401993
                ],
                [
                    "05.02",
                    392488
                ],
                [
                    "05.03",
                    368147
                ],
                [
                    "05.04",
                    357229
                ],
                [
                    "05.05",
                    382315
                ],
                [
                    "05.06",
                    412262
                ],
                [
                    "05.07",
                    414188
                ],
                [
                    "05.08",
                    401078
                ],
                [
                    "05.09",
                    403738
                ],
                [
                    "05.10",
                    366161
                ],
                [
                    "05.11",
                    329942
                ],
                [
                    "05.12",
                    348421
                ],
                [
                    "05.13",
                    362727
                ],
                [
                    "05.14",
                    343144
                ],
                [
                    "05.15",
                    326098
                ],
                [
                    "05.16",
                    311170
                ],
                [
                    "05.17",
                    281386
                ],
                [
                    "05.18",
                    263533
                ],
                [
                    "05.19",
                    267334
                ],
                [
                    "05.20",
                    276110
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8ba4",
                "\u6b7b\u4ea1",
                "\u6cbb\u6108",
                "\u65b0\u589e\u786e\u8ba4"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8ba4": true,
                "\u6b7b\u4ea1": true,
                "\u6cbb\u6108": true,
                "\u65b0\u589e\u786e\u8ba4": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.01",
                "04.02",
                "04.03",
                "04.04",
                "04.05",
                "04.06",
                "04.07",
                "04.08",
                "04.09",
                "04.10",
                "04.11",
                "04.12",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16",
                "05.17",
                "05.18",
                "05.19",
                "05.20"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5370\u5ea6\u65b0\u51a0\u75ab\u60c5\u66f2\u7ebf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f682e415f32e426abed3abc6d6164c22.setOption(option_f682e415f32e426abed3abc6d6164c22);
    </script>
{% endblock %}