{% extends "layout.html" %}

{% block left %}
<style>
ul {
    list-style-type: none;
    background-color: #000000;
    height: 800px;
    padding: 8px 16px;

}

li a {
    display: block;
    color:#FFFFFF;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: #000000;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
    color: #000000;
}
</style>
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
 <li><a href="/map1">中国疫情地图</a></li>
        <li><a href="/map2">世界疫情地图</a></li>
        <li><a href="/line">中国疫情状况曲线图</a></li>
        <li><a href="/line2">印度疫情状况曲线图</a></li>
        <li><a href="/Word">疫情热词词云图</a></li>
        <li><a href="/rote_learning">机器预测疫情发展曲线图</a></li>
  </ul>
</div>
{% endblock %}        
        
{% block right %}
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">{{title}}</h1>

  <div class="row placeholders">
        <!--展示区-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart-container" style="height:500px;" id="6a18fce2432f42ef929fd7252ef372fc">

    </div>

  </div>
</div>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
 <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>
 <script>
        var chart_6a18fce2432f42ef929fd7252ef372fc = echarts.init(
            document.getElementById('6a18fce2432f42ef929fd7252ef372fc'), 'white', {renderer: 'canvas'});
        var option_6a18fce2432f42ef929fd7252ef372fc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u5404\u56fd\u73b0\u5b58\u786e\u8bca\u4eba\u6570\uff1a",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "\u7f8e\u56fd",
                    "value": 5901195
                },
                {
                    "name": "\u897f\u73ed\u7259",
                    "value": 204336
                },
                {
                    "name": "\u6cd5\u56fd",
                    "value": 2166003
                },
                {
                    "name": "\u79d8\u9c81",
                    "value": 111940
                },
                {
                    "name": "\u82f1\u56fd",
                    "value": 90011
                },
                {
                    "name": "\u610f\u5927\u5229",
                    "value": 73880
                },
                {
                    "name": "\u5fb7\u56fd",
                    "value": 54158
                },
                {
                    "name": "\u4f0a\u6717",
                    "value": 27052
                },
                {
                    "name": "\u52a0\u62ff\u5927",
                    "value": 26661
                },
                {
                    "name": "\u745e\u58eb",
                    "value": 13391
                },
                {
                    "name": "\u5965\u5730\u5229",
                    "value": 5080
                },
                {
                    "name": "\u6bd4\u5229\u65f6",
                    "value": 9859
                },
                {
                    "name": "\u8377\u5170",
                    "value": 10697
                },
                {
                    "name": "\u97e9\u56fd",
                    "value": 3979
                },
                {
                    "name": "\u571f\u8033\u5176",
                    "value": 8981
                },
                {
                    "name": "\u585e\u5c14\u7ef4\u4e9a",
                    "value": 7259
                },
                {
                    "name": "\u8461\u8404\u7259",
                    "value": 6225
                },
                {
                    "name": "\u4ee5\u8272\u5217",
                    "value": 4193
                },
                {
                    "name": "\u632a\u5a01",
                    "value": 4251
                },
                {
                    "name": "\u5df4\u897f",
                    "value": 4114
                },
                {
                    "name": "\u6fb3\u5927\u5229\u4e9a",
                    "value": 3983
                },
                {
                    "name": "\u745e\u5178",
                    "value": 3574
                },
                {
                    "name": "\u6377\u514b",
                    "value": 2790
                },
                {
                    "name": "\u4e39\u9ea6",
                    "value": 2579
                },
                {
                    "name": "\u9a6c\u6765\u897f\u4e9a",
                    "value": 2110
                },
                {
                    "name": "\u7231\u5c14\u5170",
                    "value": 2564
                },
                {
                    "name": "\u667a\u5229",
                    "value": 2285
                },
                {
                    "name": "\u5362\u68ee\u5821",
                    "value": 1926
                },
                {
                    "name": "\u7f57\u9a6c\u5c3c\u4e9a",
                    "value": 1700
                },
                {
                    "name": "\u5384\u74dc\u591a\u5c14",
                    "value": 1863
                },
                {
                    "name": "\u6ce2\u5170",
                    "value": 1872
                },
                {
                    "name": "\u4fc4\u7f57\u65af",
                    "value": 1761
                },
                {
                    "name": "\u65e5\u672c\u672c\u571f",
                    "value": 1300
                },
                {
                    "name": "\u5df4\u57fa\u65af\u5766",
                    "value": 1576
                },
                {
                    "name": "\u83f2\u5f8b\u5bbe",
                    "value": 1426
                },
                {
                    "name": "\u6cf0\u56fd",
                    "value": 1388
                },
                {
                    "name": "\u6c99\u7279\u963f\u62c9\u4f2f",
                    "value": 1330
                },
                {
                    "name": "\u5370\u5ea6\u5c3c\u897f\u4e9a",
                    "value": 1217
                },
                {
                    "name": "\u5357\u975e",
                    "value": 1247
                },
                {
                    "name": "\u82ac\u5170",
                    "value": 1219
                },
                {
                    "name": "\u5e0c\u814a",
                    "value": 1066
                },
                {
                    "name": "\u5370\u5ea6",
                    "value": 943
                },
                {
                    "name": "\u51b0\u5c9b",
                    "value": 883
                },
                {
                    "name": "\u58a8\u897f\u54e5",
                    "value": 969
                },
                {
                    "name": "\u5df4\u62ff\u9a6c",
                    "value": 961
                },
                {
                    "name": "\u591a\u7c73\u5c3c\u52a0",
                    "value": 855
                },
                {
                    "name": "\u65b0\u52a0\u5761",
                    "value": 648
                },
                {
                    "name": "\u963f\u6839\u5ef7",
                    "value": 668
                },
                {
                    "name": "\u514b\u7f57\u5730\u4e9a",
                    "value": 652
                },
                {
                    "name": "\u94bb\u77f3\u53f7\u90ae\u8f6e",
                    "value": 98
                },
                {
                    "name": "\u54e5\u4f26\u6bd4\u4e9a",
                    "value": 682
                },
                {
                    "name": "\u65af\u6d1b\u6587\u5c3c\u4e9a",
                    "value": 665
                },
                {
                    "name": "\u7231\u6c99\u5c3c\u4e9a",
                    "value": 624
                },
                {
                    "name": "\u5361\u5854\u5c14",
                    "value": 585
                },
                {
                    "name": "\u963f\u8054\u914b",
                    "value": 545
                },
                {
                    "name": "\u57c3\u53ca",
                    "value": 437
                },
                {
                    "name": "\u65b0\u897f\u5170",
                    "value": 532
                },
                {
                    "name": "\u963f\u585e\u62dc\u7586",
                    "value": 547
                },
                {
                    "name": "\u4f0a\u62c9\u514b",
                    "value": 362
                },
                {
                    "name": "\u6469\u6d1b\u54e5",
                    "value": 476
                },
                {
                    "name": "\u5df4\u6797",
                    "value": 232
                },
                {
                    "name": "\u963f\u5c14\u53ca\u5229\u4e9a",
                    "value": 448
                },
                {
                    "name": "\u4e9a\u7f8e\u5c3c\u4e9a",
                    "value": 448
                },
                {
                    "name": "\u4e4c\u514b\u5170",
                    "value": 463
                },
                {
                    "name": "\u7acb\u9676\u5b9b",
                    "value": 452
                },
                {
                    "name": "\u5308\u7259\u5229",
                    "value": 398
                },
                {
                    "name": "\u9ece\u5df4\u5ae9",
                    "value": 403
                },
                {
                    "name": "\u62c9\u8131\u7ef4\u4e9a",
                    "value": 346
                },
                {
                    "name": "\u65af\u6d1b\u4f10\u514b",
                    "value": 334
                },
                {
                    "name": "\u5b89\u9053\u5c14",
                    "value": 322
                },
                {
                    "name": "\u6ce2\u9ed1",
                    "value": 310
                },
                {
                    "name": "\u4fdd\u52a0\u5229\u4e9a",
                    "value": 306
                },
                {
                    "name": "\u7a81\u5c3c\u65af",
                    "value": 302
                },
                {
                    "name": "\u4e4c\u62c9\u572d",
                    "value": 302
                },
                {
                    "name": "\u54c8\u8428\u514b\u65af\u5766",
                    "value": 280
                },
                {
                    "name": "\u54e5\u65af\u8fbe\u9ece\u52a0",
                    "value": 290
                },
                {
                    "name": "\u79d1\u5a01\u7279",
                    "value": 194
                },
                {
                    "name": "\u7ea6\u65e6",
                    "value": 238
                },
                {
                    "name": "\u5317\u9a6c\u5176\u987f",
                    "value": 250
                },
                {
                    "name": "\u6469\u5c14\u591a\u74e6",
                    "value": 227
                },
                {
                    "name": "\u5723\u9a6c\u529b\u8bfa",
                    "value": 196
                },
                {
                    "name": "\u5e03\u57fa\u7eb3\u6cd5\u7d22",
                    "value": 187
                },
                {
                    "name": "\u585e\u6d66\u8def\u65af",
                    "value": 193
                },
                {
                    "name": "\u963f\u5c14\u5df4\u5c3c\u4e9a",
                    "value": 169
                },
                {
                    "name": "\u8d8a\u5357",
                    "value": 142
                },
                {
                    "name": "\u963f\u66fc",
                    "value": 150
                },
                {
                    "name": "\u79d1\u7279\u8fea\u74e6",
                    "value": 160
                },
                {
                    "name": "\u585e\u5185\u52a0\u5c14",
                    "value": 134
                },
                {
                    "name": "\u52a0\u7eb3",
                    "value": 145
                },
                {
                    "name": "\u4e4c\u5179\u522b\u514b\u65af\u5766",
                    "value": 140
                },
                {
                    "name": "\u9a6c\u8033\u4ed6",
                    "value": 147
                },
                {
                    "name": "\u963f\u5bcc\u6c57",
                    "value": 139
                },
                {
                    "name": "\u5580\u9ea6\u9686",
                    "value": 131
                },
                {
                    "name": "\u6d2a\u90fd\u62c9\u65af",
                    "value": 135
                },
                {
                    "name": "\u6587\u83b1",
                    "value": 88
                },
                {
                    "name": "\u65af\u91cc\u5170\u5361",
                    "value": 110
                },
                {
                    "name": "\u59d4\u5185\u745e\u62c9",
                    "value": 78
                },
                {
                    "name": "\u53e4\u5df4",
                    "value": 112
                },
                {
                    "name": "\u5c3c\u65e5\u5229\u4e9a",
                    "value": 107
                },
                {
                    "name": "\u6bdb\u91cc\u6c42\u65af",
                    "value": 105
                },
                {
                    "name": "\u5df4\u52d2\u65af\u5766",
                    "value": 87
                },
                {
                    "name": "\u67ec\u57d4\u5be8",
                    "value": 82
                },
                {
                    "name": "\u683c\u9c81\u5409\u4e9a",
                    "value": 80
                },
                {
                    "name": "\u767d\u4fc4\u7f57\u65af",
                    "value": 62
                },
                {
                    "name": "\u9ed1\u5c71",
                    "value": 84
                },
                {
                    "name": "\u5409\u5c14\u5409\u65af\u65af\u5766",
                    "value": 84
                },
                {
                    "name": "\u73bb\u5229\u7ef4\u4e9a",
                    "value": 81
                },
                {
                    "name": "\u521a\u679c\uff08\u91d1\uff09",
                    "value": 70
                },
                {
                    "name": "\u5362\u65fa\u8fbe",
                    "value": 70
                },
                {
                    "name": "\u5df4\u62c9\u572d",
                    "value": 60
                },
                {
                    "name": "\u5217\u652f\u6566\u58eb\u767b\u516c\u56fd",
                    "value": 56
                },
                {
                    "name": "\u80af\u5c3c\u4e9a",
                    "value": 48
                },
                {
                    "name": "\u5b5f\u52a0\u62c9",
                    "value": 25
                },
                {
                    "name": "\u9a6c\u8fbe\u52a0\u65af\u52a0",
                    "value": 43
                },
                {
                    "name": "\u6469\u7eb3\u54e5",
                    "value": 42
                },
                {
                    "name": "\u8d5e\u6bd4\u4e9a",
                    "value": 35
                },
                {
                    "name": "\u5371\u5730\u9a6c\u62c9",
                    "value": 23
                },
                {
                    "name": "\u4e4c\u5e72\u8fbe",
                    "value": 33
                },
                {
                    "name": "\u591a\u54e5",
                    "value": 22
                },
                {
                    "name": "\u572d\u4e9a\u90a3",
                    "value": 21
                },
                {
                    "name": "\u9a6c\u91cc",
                    "value": 23
                },
                {
                    "name": "\u5409\u5e03\u63d0",
                    "value": 25
                },
                {
                    "name": "\u57c3\u585e\u4fc4\u6bd4\u4e9a",
                    "value": 21
                },
                {
                    "name": "\u7f05\u7538",
                    "value": 19
                },
                {
                    "name": "\u521a\u679c\uff08\u5e03\uff09",
                    "value": 19
                },
                {
                    "name": "\u5766\u6851\u5c3c\u4e9a",
                    "value": 18
                },
                {
                    "name": "\u5c3c\u65e5\u5c14",
                    "value": 17
                },
                {
                    "name": "\u9a6c\u5c14\u4ee3\u592b",
                    "value": 6
                },
                {
                    "name": "\u51e0\u5185\u4e9a",
                    "value": 15
                },
                {
                    "name": "\u8d64\u9053\u51e0\u5185\u4e9a",
                    "value": 14
                },
                {
                    "name": "\u8499\u53e4",
                    "value": 12
                },
                {
                    "name": "\u5384\u7acb\u7279\u91cc\u4e9a",
                    "value": 12
                },
                {
                    "name": "\u7eb3\u7c73\u6bd4\u4e9a",
                    "value": 11
                },
                {
                    "name": "\u53d9\u5229\u4e9a",
                    "value": 9
                },
                {
                    "name": "\u65af\u5a01\u58eb\u5170",
                    "value": 9
                },
                {
                    "name": "\u6d77\u5730",
                    "value": 8
                },
                {
                    "name": "\u83ab\u6851\u6bd4\u514b",
                    "value": 8
                },
                {
                    "name": "\u82cf\u91cc\u5357",
                    "value": 8
                },
                {
                    "name": "\u8001\u631d",
                    "value": 8
                },
                {
                    "name": "\u585e\u820c\u5c14",
                    "value": 8
                },
                {
                    "name": "\u5b89\u54e5\u62c9",
                    "value": 5
                },
                {
                    "name": "\u6d25\u5df4\u5e03\u97e6",
                    "value": 6
                },
                {
                    "name": "\u5b89\u63d0\u74dc\u548c\u5df4\u5e03\u8fbe",
                    "value": 7
                },
                {
                    "name": "\u52a0\u84ec",
                    "value": 6
                },
                {
                    "name": "\u8d1d\u5b81",
                    "value": 6
                },
                {
                    "name": "\u68b5\u8482\u5188",
                    "value": 6
                },
                {
                    "name": "\u4e2d\u975e\u5171\u548c\u56fd",
                    "value": 6
                },
                {
                    "name": "\u4f5b\u5f97\u89d2",
                    "value": 5
                },
                {
                    "name": "\u82cf\u4e39",
                    "value": 5
                },
                {
                    "name": "\u4e4d\u5f97",
                    "value": 5
                },
                {
                    "name": "\u6bdb\u91cc\u5854\u5c3c\u4e9a",
                    "value": 3
                },
                {
                    "name": "\u5c3c\u6cca\u5c14",
                    "value": 4
                },
                {
                    "name": "\u4e0d\u4e39",
                    "value": 4
                },
                {
                    "name": "\u5188\u6bd4\u4e9a",
                    "value": 3
                },
                {
                    "name": "\u5c3c\u52a0\u62c9\u74dc",
                    "value": 3
                },
                {
                    "name": "\u7d22\u9a6c\u91cc",
                    "value": 3
                },
                {
                    "name": "\u5229\u6bd4\u91cc\u4e9a",
                    "value": 3
                },
                {
                    "name": "\u4f2f\u5229\u5179",
                    "value": 2
                },
                {
                    "name": "\u51e0\u5185\u4e9a\u6bd4\u7ecd",
                    "value": 2
                },
                {
                    "name": "\u4e1c\u5e1d\u6c76",
                    "value": 1
                },
                {
                    "name": "\u5df4\u5e03\u4e9a\u65b0\u51e0\u5185\u4e9a",
                    "value": 1
                },
                {
                    "name": "\u4e2d\u56fd",
                    "value": 2047
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "nameMap": {
                "Somalia": "\u7d22\u9a6c\u91cc",
                "Liechtenstein": "\u5217\u652f\u6566\u58eb\u767b",
                "Morocco": "\u6469\u6d1b\u54e5",
                "W. Sahara": "\u897f\u6492\u54c8\u62c9",
                "Serbia": "\u585e\u5c14\u7ef4\u4e9a",
                "Afghanistan": "\u963f\u5bcc\u6c57",
                "Angola": "\u5b89\u54e5\u62c9",
                "Albania": "\u963f\u5c14\u5df4\u5c3c\u4e9a",
                "Andorra": "\u5b89\u9053\u5c14\u5171\u548c\u56fd",
                "United Arab Emirates": "\u963f\u62c9\u4f2f\u8054\u5408\u914b\u957f\u56fd",
                "Argentina": "\u963f\u6839\u5ef7",
                "Armenia": "\u4e9a\u7f8e\u5c3c\u4e9a",
                "Australia": "\u6fb3\u5927\u5229\u4e9a",
                "Austria": "\u5965\u5730\u5229",
                "Azerbaijan": "\u963f\u585e\u62dc\u7586",
                "Burundi": "\u5e03\u9686\u8fea",
                "Belgium": "\u6bd4\u5229\u65f6",
                "Benin": "\u8d1d\u5b81",
                "Burkina Faso": "\u5e03\u57fa\u7eb3\u6cd5\u7d22",
                "Bangladesh": "\u5b5f\u52a0\u62c9\u56fd",
                "Bulgaria": "\u4fdd\u52a0\u5229\u4e9a",
                "Bahrain": "\u5df4\u6797",
                "Bahamas": "\u5df4\u54c8\u9a6c",
                "Bosnia and Herz.": "\u6ce2\u65af\u5c3c\u4e9a\u548c\u9ed1\u585e\u54e5\u7ef4\u90a3",
                "Belarus": "\u767d\u4fc4\u7f57\u65af",
                "Belize": "\u4f2f\u5229\u5179",
                "Bermuda": "\u767e\u6155\u5927",
                "Bolivia": "\u73bb\u5229\u7ef4\u4e9a",
                "Brazil": "\u5df4\u897f",
                "Barbados": "\u5df4\u5df4\u591a\u65af",
                "Brunei": "\u6587\u83b1",
                "Bhutan": "\u4e0d\u4e39",
                "Botswana": "\u535a\u8328\u74e6\u7eb3",
                "Central African Rep.": "\u4e2d\u975e\u5171\u548c\u56fd",
                "Canada": "\u52a0\u62ff\u5927",
                "Switzerland": "\u745e\u58eb",
                "Chile": "\u667a\u5229",
                "China": "\u4e2d\u56fd",
                "C\u00f4te d'Ivoire": "\u79d1\u7279\u8fea\u74e6",
                "Cameroon": "\u5580\u9ea6\u9686",
                "Dem. Rep. Congo": "\u521a\u679c\uff08\u5e03\uff09",
                "Congo": "\u521a\u679c\uff08\u91d1\uff09",
                "Colombia": "\u54e5\u4f26\u6bd4\u4e9a",
                "Cape Verde": "\u4f5b\u5f97\u89d2",
                "Costa Rica": "\u54e5\u65af\u8fbe\u9ece\u52a0",
                "Cuba": "\u53e4\u5df4",
                "N. Cyprus": "\u5317\u585e\u6d66\u8def\u65af",
                "Cyprus": "\u585e\u6d66\u8def\u65af",
                "Czech Rep.": "\u6377\u514b",
                "Germany": "\u5fb7\u56fd",
                "Djibouti": "\u5409\u5e03\u63d0",
                "Denmark": "\u4e39\u9ea6",
                "Dominican Rep.": "\u591a\u7c73\u5c3c\u52a0",
                "Algeria": "\u963f\u5c14\u53ca\u5229\u4e9a",
                "Ecuador": "\u5384\u74dc\u591a\u5c14",
                "Egypt": "\u57c3\u53ca",
                "Eritrea": "\u5384\u7acb\u7279\u91cc\u4e9a",
                "Spain": "\u897f\u73ed\u7259",
                "Estonia": "\u7231\u6c99\u5c3c\u4e9a",
                "Ethiopia": "\u57c3\u585e\u4fc4\u6bd4\u4e9a",
                "Finland": "\u82ac\u5170",
                "Fiji": "\u6590\u6d4e",
                "France": "\u6cd5\u56fd",
                "Gabon": "\u52a0\u84ec",
                "United Kingdom": "\u82f1\u56fd",
                "Georgia": "\u683c\u9c81\u5409\u4e9a",
                "Ghana": "\u52a0\u7eb3",
                "Guinea": "\u51e0\u5185\u4e9a",
                "Gambia": "\u5188\u6bd4\u4e9a",
                "Guinea-Bissau": "\u51e0\u5185\u4e9a\u6bd4\u7ecd",
                "Eq. Guinea": "\u8d64\u9053\u51e0\u5185\u4e9a",
                "Greece": "\u5e0c\u814a",
                "Grenada": "\u683c\u6797\u7eb3\u8fbe",
                "Greenland": "\u683c\u9675\u5170\u5c9b",
                "Guatemala": "\u5371\u5730\u9a6c\u62c9",
                "Guam": "\u5173\u5c9b",
                "Guyana": "\u572d\u4e9a\u90a3\u5408\u4f5c\u5171\u548c\u56fd",
                "Honduras": "\u6d2a\u90fd\u62c9\u65af",
                "Croatia": "\u514b\u7f57\u5730\u4e9a",
                "Haiti": "\u6d77\u5730",
                "Hungary": "\u5308\u7259\u5229",
                "Indonesia": "\u5370\u5ea6\u5c3c\u897f\u4e9a",
                "India": "\u5370\u5ea6",
                "Br. Indian Ocean Ter.": "\u82f1\u5c5e\u5370\u5ea6\u6d0b\u9886\u571f",
                "Ireland": "\u7231\u5c14\u5170",
                "Iran": "\u4f0a\u6717",
                "Iraq": "\u4f0a\u62c9\u514b",
                "Iceland": "\u51b0\u5c9b",
                "Israel": "\u4ee5\u8272\u5217",
                "Italy": "\u610f\u5927\u5229",
                "Jamaica": "\u7259\u4e70\u52a0",
                "Jordan": "\u7ea6\u65e6",
                "Japan": "\u65e5\u672c\u672c\u571f",
                "Siachen Glacier": "\u9521\u4e9a\u7434\u51b0\u5ddd",
                "Kazakhstan": "\u54c8\u8428\u514b\u65af\u5766",
                "Kenya": "\u80af\u5c3c\u4e9a",
                "Kyrgyzstan": "\u5409\u5c14\u5409\u65af\u65af\u5766",
                "Cambodia": "\u67ec\u57d4\u5be8",
                "Korea": "\u97e9\u56fd",
                "Kuwait": "\u79d1\u5a01\u7279",
                "Lao PDR": "\u8001\u631d",
                "Lebanon": "\u9ece\u5df4\u5ae9",
                "Liberia": "\u5229\u6bd4\u91cc\u4e9a",
                "Libya": "\u5229\u6bd4\u4e9a",
                "Sri Lanka": "\u65af\u91cc\u5170\u5361",
                "Lesotho": "\u83b1\u7d22\u6258",
                "Lithuania": "\u7acb\u9676\u5b9b",
                "Luxembourg": "\u5362\u68ee\u5821",
                "Latvia": "\u62c9\u8131\u7ef4\u4e9a",
                "Moldova": "\u6469\u5c14\u591a\u74e6",
                "Madagascar": "\u9a6c\u8fbe\u52a0\u65af\u52a0",
                "Mexico": "\u58a8\u897f\u54e5",
                "Macedonia": "\u9a6c\u5176\u987f",
                "Mali": "\u9a6c\u91cc",
                "Malta": "\u9a6c\u8033\u4ed6",
                "Myanmar": "\u7f05\u7538",
                "Montenegro": "\u9ed1\u5c71",
                "Mongolia": "\u8499\u53e4\u56fd",
                "Mozambique": "\u83ab\u6851\u6bd4\u514b",
                "Mauritania": "\u6bdb\u91cc\u5854\u5c3c\u4e9a",
                "Mauritius": "\u6bdb\u91cc\u6c42\u65af",
                "Malawi": "\u9a6c\u62c9\u7ef4",
                "Malaysia": "\u9a6c\u6765\u897f\u4e9a",
                "Namibia": "\u7eb3\u7c73\u6bd4\u4e9a",
                "New Caledonia": "\u65b0\u5580\u91cc\u591a\u5c3c\u4e9a",
                "Niger": "\u5c3c\u65e5\u5c14",
                "Nigeria": "\u5c3c\u65e5\u5229\u4e9a",
                "Nicaragua": "\u5c3c\u52a0\u62c9\u74dc",
                "Netherlands": "\u8377\u5170",
                "Norway": "\u632a\u5a01",
                "Nepal": "\u5c3c\u6cca\u5c14",
                "New Zealand": "\u65b0\u897f\u5170",
                "Oman": "\u963f\u66fc",
                "Pakistan": "\u5df4\u57fa\u65af\u5766",
                "Panama": "\u5df4\u62ff\u9a6c",
                "Peru": "\u79d8\u9c81",
                "Philippines": "\u83f2\u5f8b\u5bbe",
                "Papua New Guinea": "\u5df4\u5e03\u4e9a\u65b0\u51e0\u5185\u4e9a",
                "Poland": "\u6ce2\u5170",
                "Puerto Rico": "\u6ce2\u591a\u9ece\u5404",
                "Dem. Rep. Korea": "\u671d\u9c9c",
                "Portugal": "\u8461\u8404\u7259",
                "Paraguay": "\u5df4\u62c9\u572d",
                "Palestine": "\u5df4\u52d2\u65af\u5766",
                "Qatar": "\u5361\u5854\u5c14",
                "Romania": "\u7f57\u9a6c\u5c3c\u4e9a",
                "Russia": "\u4fc4\u7f57\u65af",
                "Rwanda": "\u5362\u65fa\u8fbe",
                "Saudi Arabia": "\u6c99\u7279\u963f\u62c9\u4f2f",
                "Sudan": "\u82cf\u4e39",
                "S. Sudan": "\u5357\u82cf\u4e39",
                "Senegal": "\u585e\u5185\u52a0\u5c14",
                "Singapore": "\u65b0\u52a0\u5761",
                "Solomon Is.": "\u6240\u7f57\u95e8\u7fa4\u5c9b",
                "Sierra Leone": "\u585e\u62c9\u5229\u6602",
                "El Salvador": "\u8428\u5c14\u74e6\u591a",
                "Suriname": "\u82cf\u91cc\u5357",
                "Slovakia": "\u65af\u6d1b\u4f10\u514b",
                "Slovenia": "\u65af\u6d1b\u6587\u5c3c\u4e9a",
                "Sweden": "\u745e\u5178",
                "Swaziland": "\u65af\u5a01\u58eb\u5170",
                "Seychelles": "\u585e\u820c\u5c14",
                "Syria": "\u53d9\u5229\u4e9a",
                "Chad": "\u4e4d\u5f97",
                "Togo": "\u591a\u54e5",
                "Thailand": "\u6cf0\u56fd",
                "Tajikistan": "\u5854\u5409\u514b\u65af\u5766",
                "Turkmenistan": "\u571f\u5e93\u66fc\u65af\u5766",
                "Timor-Leste": "\u4e1c\u5e1d\u6c76",
                "Tonga": "\u6c64\u52a0",
                "Trinidad and Tobago": "\u7279\u7acb\u5c3c\u8fbe\u548c\u591a\u5df4\u54e5",
                "Tunisia": "\u7a81\u5c3c\u65af",
                "Turkey": "\u571f\u8033\u5176",
                "Tanzania": "\u5766\u6851\u5c3c\u4e9a",
                "Uganda": "\u4e4c\u5e72\u8fbe",
                "Ukraine": "\u4e4c\u514b\u5170",
                "Uruguay": "\u4e4c\u62c9\u572d",
                "United States": "\u7f8e\u56fd",
                "Uzbekistan": "\u4e4c\u5179\u522b\u514b\u65af\u5766",
                "Venezuela": "\u59d4\u5185\u745e\u62c9",
                "Vietnam": "\u8d8a\u5357",
                "Vanuatu": "\u74e6\u52aa\u963f\u56fe",
                "Yemen": "\u4e5f\u95e8",
                "South Africa": "\u5357\u975e",
                "Zambia": "\u8d5e\u6bd4\u4e9a",
                "Zimbabwe": "\u6d25\u5df4\u5e03\u97e6",
                "Aland": "\u5965\u5170\u7fa4\u5c9b",
                "American Samoa": "\u7f8e\u5c5e\u8428\u6469\u4e9a",
                "Fr. S. Antarctic Lands": "\u5357\u6781\u6d32",
                "Antigua and Barb.": "\u5b89\u63d0\u74dc\u548c\u5df4\u5e03\u8fbe",
                "Comoros": "\u79d1\u6469\u7f57",
                "Cura\u00e7ao": "\u5e93\u62c9\u7d22\u5c9b",
                "Cayman Is.": "\u5f00\u66fc\u7fa4\u5c9b",
                "Dominica": "\u591a\u7c73\u5c3c\u52a0",
                "Falkland Is.": "\u798f\u514b\u5170\u7fa4\u5c9b\u9a6c\u5c14\u7ef4\u7eb3\u65af",
                "Faeroe Is.": "\u6cd5\u7f57\u7fa4\u5c9b",
                "Micronesia": "\u5bc6\u514b\u7f57\u5c3c\u897f\u4e9a",
                "Heard I. and McDonald Is.": "\u8d6b\u5fb7\u5c9b\u548c\u9ea6\u514b\u5510\u7eb3\u7fa4\u5c9b",
                "Isle of Man": "\u66fc\u5c9b",
                "Jersey": "\u6cfd\u897f\u5c9b",
                "Kiribati": "\u57fa\u91cc\u5df4\u65af",
                "Saint Lucia": "\u5723\u5362\u897f\u4e9a",
                "N. Mariana Is.": "\u5317\u9a6c\u91cc\u4e9a\u7eb3\u7fa4\u5c9b",
                "Montserrat": "\u8499\u7279\u585e\u62c9\u7279",
                "Niue": "\u7ebd\u57c3",
                "Palau": "\u5e15\u52b3",
                "Fr. Polynesia": "\u6cd5\u5c5e\u6ce2\u5229\u5c3c\u897f\u4e9a",
                "S. Geo. and S. Sandw. Is.": "\u5357\u4e54\u6cbb\u4e9a\u5c9b\u548c\u5357\u6851\u5a01\u5947\u7fa4\u5c9b",
                "Saint Helena": "\u5723\u8d6b\u52d2\u62ff",
                "St. Pierre and Miquelon": "\u5723\u76ae\u57c3\u5c14\u548c\u5bc6\u514b\u9686\u7fa4\u5c9b",
                "S\u00e3o Tom\u00e9 and Principe": "\u5723\u591a\u7f8e\u548c\u666e\u6797\u897f\u6bd4",
                "Turks and Caicos Is.": "\u7279\u514b\u65af\u548c\u51ef\u79d1\u65af\u7fa4\u5c9b",
                "St. Vin. and Gren.": "\u5723\u6587\u68ee\u7279\u548c\u683c\u6797\u7eb3\u4e01\u65af",
                "U.S. Virgin Is.": "\u7f8e\u5c5e\u7ef4\u5c14\u4eac\u7fa4\u5c9b",
                "Samoa": "\u8428\u6469\u4e9a"
            },
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5404\u56fd\u73b0\u5b58\u786e\u8bca\u4eba\u6570\uff1a"
            ],
            "selected": {
                "\u5404\u56fd\u73b0\u5b58\u786e\u8bca\u4eba\u6570\uff1a": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "COVID-19\u4e16\u754c\u5404\u56fd\u73b0\u6709\u786e\u8bca\u4eba\u6570\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "min": 5000,
                "label": ">5000",
                "color": "#893448"
            },
            {
                "min": 1000,
                "max": 4999,
                "label": "1000-4999",
                "color": "#ff585e"
            },
            {
                "min": 500,
                "max": 999,
                "label": "500-1000",
                "color": "#fb8146"
            },
            {
                "min": 101,
                "max": 499,
                "label": "101-499",
                "color": "#ffA500"
            },
            {
                "min": 10,
                "max": 100,
                "label": "10-100",
                "color": "#ffb248"
            },
            {
                "min": 0,
                "max": 9,
                "label": "0-9",
                "color": "#fff2d1"
            }
        ]
    }
};
        chart_6a18fce2432f42ef929fd7252ef372fc.setOption(option_6a18fce2432f42ef929fd7252ef372fc);
    </script>
{% endblock %}